<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Links</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Links</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

      /*** @jsx React.DOM */

      var realPython = React.createClass({
        render: function() {
          return (<h2>These are links to our individual pages!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
	<a href="bpatel/">bpatel</a><br>
	<a href="grubin">grubin</a><br>
	<a href="hshah/">hshah</a><br>
	<a href="rwilliams/">rwilliams</a><br>
	<a href="grubin/">Test Case 1: URL w/ no query string parameter</a><br>
	<a href="grubin/?name=msft">Test Case 2: URL w/ one query string parameter</a><br>
	<a href="grubin/?name=msft?namo=junk">Test Case 3(todo) : URL w/ extra query string parameter</a><br>
  </body>
</html>