<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Links</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

      /*** @jsx React.DOM */

      var realPython = React.createClass({
        render: function() {
          return (<h2>These are links to our individual pages!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
	<a href="bpatel/?name=msft">Historical Trend Analysis - Binta Patel</a><br>
	<a href="grubin/?name=msft">Relative Strength Index (RSI) - Gordon Rubin</a><br>
	<a href="hshah/">Comparative Analysis (vs. S&P 500) - Harshil Shah</a><br>
	<a href="rwilliams/?name=msft">30-Day Bollinger Bands - Richard Williams</a><br>
	<br>
	
	<div class="container">
      <h1>What To Expect</h1>
	  <h3>When you enter a stock symbol on our home page, multiple tabs will open. Data displayed will inform a user on how the stock is performing and which stocks to potentially invest in based on its historical pricing trend, its comparison to the index performance (i.e. S&amp;P 500), and select risk metrics (e.g. bollinger band).</h3>
      <div id="content"></div>
    </div>
		<br>
	
	<div class="container">
      <h1>References</h1>
	  <h3>To build the individual web services:</h3>
	  <a href="https://github.com/airbnb/react-dates">React Dates</a><br>
	  <h3>To build the individual web services:</h3>
	  <a href="https://github.com/airbnb/react-dates">React Dates</a><br>

      <div id="content"></div>
    </div>
	
  </body>
</html>