<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Links</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

      /*** @jsx React.DOM */

      var realPython = React.createClass({
        render: function() {
          return (<h2>These are links to our individual pages!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
	<a href="bpatel/?name=msft">Historical Trend Analysis - Binta Patel</a><br>
	<a href="grubin/?name=msft">Relative Strength Index (RSI) - Gordon Rubin</a><br>
	<a href="hshah/">Comparative Analysis (vs. S&P 500) - Harshil Shah</a><br>
	<a href="rwilliams/?name=msft">30-Day Bollinger Bands - Richard Williams</a><br>
	<br>
	
	<div class="container">
      <h1>What To Expect</h1>
	  <h4>When you enter a stock symbol on our home page, multiple tabs will open. Data displayed will inform a user on how the stock is performing and which stocks to potentially invest in based on its historical pricing trend, its comparison to the index performance (i.e. S&amp;P 500), and select risk metrics (e.g. bollinger band).</h4>
      <div id="content"></div>
    </div>
		<br>
	
<div class=WordSection1>

<p >To build the individual web services:</p>
 
<p >1.      <a
href="https://ntguardian.wordpress.com/2018/07/17/stock-data-analysis-python-v2/">https://ntguardian.wordpress.com/2018/07/17/stock-data-analysis-python-v2/</a>
</p>
 
<p >2.      <a
href="https://towardsdatascience.com/trading-strategy-technical-analysis-with-python-ta-lib-3ce9d6ce5614">https://towardsdatascience.com/trading-strategy-technical-analysis-with-python-ta-lib-3ce9d6ce5614</a>
  </p>
 
<p >3.      <a
href="https://towardsdatascience.com/stock-analysis-in-python-a0054e2c1a4c">https://towardsdatascience.com/stock-analysis-in-python-a0054e2c1a4c</a>
 </p>
 
<p >4.      <a
href="https://towardsdatascience.com/stock-prediction-in-python-b66555171a2">https://towardsdatascience.com/stock-prediction-in-python-b66555171a2</a>
 </p>
 
<p >To build our end-to-end application:</p>
 
<p >5.       <a
href="https://www.npmjs.com/package/react-autocomplete">https://www.npmjs.com/package/react-autocomplete</a>
 </p>
 
<p >6.       <a
href="https://realpython.com/the-ultimate-flask-front-end/">https://realpython.com/the-ultimate-flask-front-end/</a>
 </p>
 
<p >7.       <a
href="https://ntguardian.wordpress.com/2016/09/19/introduction-stock-market-data-python-1/">https://ntguardian.wordpress.com/2016/09/19/introduction-stock-market-data-python-1/</a>
</p>

</div>	
  </body>
</html>